{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <!-- <p>Avg: {{request.session.avg_o}} Done: {{request.session.done_o|default:False}}</p>
        <p>Avg: {{request.session.avg_c}} Done: {{request.session.done_c|default:False}}</p>
        <p>Avg: {{request.session.avg_e}} Done: {{request.session.done_e|default:False}}</p>
        <p>Avg: {{request.session.avg_a}} Done: {{request.session.done_a|default:False}}</p>
        <p>Avg: {{request.session.avg_n}} Done: {{request.session.done_n|default:False}}</p> -->

        {% if not request.user.applicant.taken_personality_test %}
            {% if not request.session.done_o|default:False %}
                {{type_o.name}}
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="test_type" value="{{ type_o.id }}">
                    {% include "personality/snippets/personality_choices.html" with personality_type=type_o %} 
                    <div class="d-flex justify-content-end" style="margin: 40px 0;">
                        <input type="submit" class="btn btn-danger btn-lg" value="Next" />
                    </div>
                </form>
            {% elif not request.session.done_c|default:False %}
                {{type_c.name}}
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="test_type" value="{{ type_c.id }}">
                    {% include "personality/snippets/personality_choices.html" with personality_type=type_c %} 
                    <div class="d-flex justify-content-end" style="margin: 40px 0;">
                        <input type="submit" class="btn btn-danger btn-lg" value="Next" />
                    </div>
                </form>
            {% elif not request.session.done_e|default:False %}
                {{type_e.name}}
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="test_type" value="{{ type_e.id }}">
                    {% include "personality/snippets/personality_choices.html" with personality_type=type_e %} 
                    <div class="d-flex justify-content-end" style="margin: 40px 0;">
                        <input type="submit" class="btn btn-danger btn-lg" value="Next" />
                    </div>
                </form>
            {% elif not request.session.done_a|default:False %}
                {{type_a.name}}
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="test_type" value="{{ type_a.id }}">
                    {% include "personality/snippets/personality_choices.html" with personality_type=type_a %} 
                    <div class="d-flex justify-content-end" style="margin: 40px 0;">
                        <input type="submit" class="btn btn-danger btn-lg" value="Next" />
                    </div>
                </form>
            {% elif not request.session.done_n|default:False %}
                {{type_n.name}}
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="test_type" value="{{ type_n.id }}">
                    {% include "personality/snippets/personality_choices.html" with personality_type=type_n %} 
                    <div class="d-flex justify-content-end" style="margin: 40px 0;">
                        <input type="submit" class="btn btn-danger btn-lg" value="Next" />
                    </div>
                </form>
            {% endif %}
        {% else %}
            <h2>You have already taken your personality test. You can't take it twice</h2>
        {% endif %}
            
    </div>
{% endblock content %}

    